.burger_nav {
    display: none;
    background-color: rgb(32, 146, 17);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s;


}
.burgerMenu {
    display: none;
    transition: all 0.3s;
}

@media (max-width: 768px) {

    .burgerMenu {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 15px;
        left: 20px;
        z-index: 100;
    
    }
    
    .burgerMenu:hover {
        cursor: pointer;
    }
    
    .burgerMenu span {
        display: block;
        width: 30px;
        height: 5px;
        background-color: #ccc;
        border-radius: 10px;
        transition: all .3s
    }

    .open.burgerMenu span {
        background-color: #333;
    }

    .burgerMenu span:nth-child(1) {
        transform: rotate(0);
        margin-bottom: 5px;

    }
    .open.burgerMenu span:nth-child(1) {
        transform: rotate(225deg);
        margin-top: 7px;
    }
    .burgerMenu span:nth-child(2) {
        display: block;
        transform: translate(0);
        opacity: 1;
    }
    .open.burgerMenu span:nth-child(2) {
        display: none;
    }
    .burgerMenu span:nth-child(3) {
        margin-top: 5px;
        transform: rotate(0)
    }
    .open.burgerMenu span:nth-child(3) {
        transform: rotate(-225deg);
        margin-top: -10px;
    }

    .burger_nav {
        display: block;
    }
    .burger_nav_active {

        transform: translateY(0%);
    }

    .burger_nav_deactive {
        transform: translateY(-100%);
    }


    /* &:nth-child(1) {
        transform: ${({ open }) => open ? 'rotate(45deg)' : 'rotate(0)'};
      }
  
      &:nth-child(2) {
        transform: ${({ open }) => open ? 'translateX(100%)' : 'translateX(0)'};
        opacity: ${({ open }) => open ? 0 : 1};
      }
  
      &:nth-child(3) {
        transform: ${({ open }) => open ? 'rotate(-45deg)' : 'rotate(0)'};
      }     */

}