.side_container {
    grid-area: side;
    background-color: rgb(32, 146, 17);
    height: 100%;
    position: relative;
}



@media (max-width: 768px) {
    .side_container {
        display: none;

    }
}